 <!-- ========== Home5 Footer area Start============= -->
<footer class="footer1 five">
    <div class="container">
        @* <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-sm-start justify-content-center">
        <div class="footer-widget">
        <div class="widget-title">
        <h5>About Company</h5>
        </div>
        <div class="menu-container">
        <ul>
        <li><a href="#">Contact Us <i class='bx bx-up-arrow-alt'></i></a></li>
        <li><a href="#">Terms & Condition <i class='bx bx-up-arrow-alt'></i></a></li>
        <li><a href="#">Privacy & Policy <i class='bx bx-up-arrow-alt'></i></a></li>
        </ul>
        </div>
        </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end justify-content-center">
        <div class="footer-widget four">
        <div class="widget-title">
        <h5>Download App</h5>
        </div>
        <div class="app-list">
        <ul>
        <li>
        <a href="#"><img src="~/assets/images/icon/apple-app.svg" alt=""></a>
        </li>
        <li>
        <a href="#"><img src="~/assets/images/icon/google-play.svg" alt=""></a>
        </li>
        </ul>
        </div>
        </div>
        </div>
        </div> *@
        <div class="footer-btm">
            <div class="footer-logo">
                <img style="height:120px" src="~/assets/images/Home/Desk3.jpeg" alt="">
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
                    <div class="support">
                        <div class="icon">
                            <img src="~/assets/images/icon/footer5-support-icon.svg" alt="">
                        </div>
                        <div class="content">
                            <h5>Support Line:</h5>
                            <a href="#">+099-000 0000 0000</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                    <div class="footer-btm-menu">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Services</a></li>
                            <li>
                                <a href="#">
                                    Our
                                    Sitemap
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row border-top align-items-center">
                <div class="col-lg-6 d-flex  justify-content-lg-start justify-content-center">
                    <div class="copyright-area">
                        <p>
                            ©Copyright @DateTime.Now.Year <a href="#">CV Tracking Portal</a> | Developed By <a href="#">MUSSAB</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                    <div class="social-area">
                        <h6>Follow us:</h6>
                        <ul>
                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#"><i class="bx bxl-instagram"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========== Home5 Footer area end============= -->