<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | CV Tracking</title>
    <link rel="icon" href="~/assets/images/sm-logo.svg" type="image/gif" sizes="20x20">
    <!-- css file link -->
    <link rel="stylesheet" href="~/assets/css/all.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- box-icon -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/summernote.min.css">

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css">

    <!-- jquery ui -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">

    <!-- swiper-slide -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">

    <!-- Slick-slider -->
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <!-- nice-select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css">


    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">


    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="~/assets/DataTable/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/assets/DataTable/buttons.dataTables.min.css">

    <link href="~/assets/NToast/NToast.css" rel="stylesheet" />

    <!-- Sweetalert2 -->
    <link rel="stylesheet" href="~/assets/sweetalert/lib/sweetalert2.css" />

    <link href="~/assets/DateHijri/calendar/smoothness.calendars.picker.css" rel="stylesheet" />
    <link href="~/assets/datehijri/bootstrap-datetimepicker.css" rel="stylesheet" />


</head>