@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOBES- Job Portal HTML Template</title>

    <link rel="icon" href="~/assets/images/sm-logo.svg" type="image/gif" sizes="20x20">


    <!-- css file link -->
    <link rel="stylesheet" href="~/assets/css/all.css">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- box-icon -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/summernote.min.css">

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css">

    <!-- jquery ui -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">

    <!-- swiper-slide -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">

    <!-- nice-select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css">


    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">


    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body class="bg-wight">
    <div class="eg-preloder">
    </div>
    <!-- ========== header============= -->
    <header class="header-area style-6">
        <div class="menu-area">
            <div class="header-logo">
                <a href="#"><img alt="image" class="img-fluid" style="width:140px" src="~/assets/images/Home/Desk3.jpeg"></a>
            </div>
            <div class="main-menu">
                <div class="mobile-logo-area d-lg-none d-flex justify-content-between align-items-center">
                    <div class="mobile-logo-wrap">
                        <a href="#"><img alt="image" style="width:140px" src="~/assets/images/Home/Desk3.jpeg"></a>
                    </div>
                    <div class="menu-close-btn">
                        <i class="bi bi-x-lg"></i>
                    </div>
                </div>
                <ul class="menu-list">
                    <li class="menu-item-has-children active">
                        <a href="#" class="drop-down">Home</a><i class="bi bi-plus dropdown-icon"></i>
                    </li>


                    <li class="menu-item-has-children">
                        <a href="#">Company</a><i class="bi bi-plus dropdown-icon"></i>

                    </li>

                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="for-mobile-menu d-lg-none d-block">
                    <div class="sign-in-btn mb-25">
                        <a class="primry-btn-4 lg-btn" href="/Account/Login">
                            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8033 2.19669C11.3868 0.780144 9.50329 0 7.5 0C5.49671 0 3.61324 0.780144 2.19669 2.19669C0.780144 3.61324 0 5.49671 0 7.5C0 9.50329 0.780144 11.3868 2.19669 12.8033C3.61324 14.2199 5.49671 15 7.5 15C9.50329 15 11.3868 14.2199 12.8033 12.8033C14.2199 11.3868 15 9.50329 15 7.5C15 5.49671 14.2199 3.61324 12.8033 2.19669ZM3.25504 12.5771C3.50269 10.4462 5.33478 8.80096 7.5 8.80096C8.64143 8.80096 9.71478 9.24568 10.5222 10.0529C11.2042 10.7351 11.6344 11.6258 11.7451 12.5769C10.5949 13.5402 9.11407 14.1211 7.5 14.1211C5.88593 14.1211 4.40517 13.5403 3.25504 12.5771ZM7.5 7.89574C6.24401 7.89574 5.22205 6.87378 5.22205 5.61779C5.22205 4.36169 6.24401 3.33984 7.5 3.33984C8.75599 3.33984 9.77795 4.36169 9.77795 5.61779C9.77795 6.87378 8.75599 7.89574 7.5 7.89574ZM12.5015 11.834C12.2776 10.9311 11.8105 10.0985 11.1436 9.43153C10.6034 8.89137 9.96437 8.48614 9.26743 8.23219C10.1052 7.66399 10.6569 6.70406 10.6569 5.61779C10.6569 3.87714 9.24065 2.46094 7.5 2.46094C5.75935 2.46094 4.34315 3.87714 4.34315 5.61779C4.34315 6.70464 4.89521 7.66491 5.73372 8.23299C5.09251 8.46668 4.49913 8.82797 3.98861 9.30359C3.24932 9.99207 2.73594 10.8699 2.4979 11.8333C1.48979 10.6712 0.878906 9.15562 0.878906 7.5C0.878906 3.84911 3.84911 0.878906 7.5 0.878906C11.1509 0.878906 14.1211 3.84911 14.1211 7.5C14.1211 9.15596 13.51 10.6718 12.5015 11.834Z">
                                </path>
                            </svg>
                            Sign In
                        </a>
                    </div>

                    @*<div class="social-area">
                    <ul>
                    <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>

                    </ul>
                    </div>*@
                </div>
            </div>

            <div class="nav-right d-flex jsutify-content-end align-items-center">
                <ul>

                    <li class="d-md-flex d-none">
                        <div class="sign-in-btn">
                            <a class="primry-btn-4 lg-btn" href="login.html">
                                <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.8033 2.19669C11.3868 0.780144 9.50329 0 7.5 0C5.49671 0 3.61324 0.780144 2.19669 2.19669C0.780144 3.61324 0 5.49671 0 7.5C0 9.50329 0.780144 11.3868 2.19669 12.8033C3.61324 14.2199 5.49671 15 7.5 15C9.50329 15 11.3868 14.2199 12.8033 12.8033C14.2199 11.3868 15 9.50329 15 7.5C15 5.49671 14.2199 3.61324 12.8033 2.19669ZM3.25504 12.5771C3.50269 10.4462 5.33478 8.80096 7.5 8.80096C8.64143 8.80096 9.71478 9.24568 10.5222 10.0529C11.2042 10.7351 11.6344 11.6258 11.7451 12.5769C10.5949 13.5402 9.11407 14.1211 7.5 14.1211C5.88593 14.1211 4.40517 13.5403 3.25504 12.5771ZM7.5 7.89574C6.24401 7.89574 5.22205 6.87378 5.22205 5.61779C5.22205 4.36169 6.24401 3.33984 7.5 3.33984C8.75599 3.33984 9.77795 4.36169 9.77795 5.61779C9.77795 6.87378 8.75599 7.89574 7.5 7.89574ZM12.5015 11.834C12.2776 10.9311 11.8105 10.0985 11.1436 9.43153C10.6034 8.89137 9.96437 8.48614 9.26743 8.23219C10.1052 7.66399 10.6569 6.70406 10.6569 5.61779C10.6569 3.87714 9.24065 2.46094 7.5 2.46094C5.75935 2.46094 4.34315 3.87714 4.34315 5.61779C4.34315 6.70464 4.89521 7.66491 5.73372 8.23299C5.09251 8.46668 4.49913 8.82797 3.98861 9.30359C3.24932 9.99207 2.73594 10.8699 2.4979 11.8333C1.48979 10.6712 0.878906 9.15562 0.878906 7.5C0.878906 3.84911 3.84911 0.878906 7.5 0.878906C11.1509 0.878906 14.1211 3.84911 14.1211 7.5C14.1211 9.15596 13.51 10.6718 12.5015 11.834Z">
                                    </path>
                                </svg>
                                Sign In
                            </a>
                        </div>
                    </li>

                </ul>
                <div class="sidebar-button mobile-menu-btn ">
                    <i class="bi bi-list"></i>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== header end============= -->
    <!-- ========== Hero Five Start============= -->
    <div class="hero5">
        <div class="hero-vector">
            <img src="~/assets/images/bg/home5-banner-vec.png" alt="">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-left">
                        <div class="hero-content">
                            <h1>Find Your <span>Candidates</span> With Based On Your Opinion</h1>
                            <p>
                                Candidates are available in our Portal, with perfect skills to make good services & get your choose
                                become a strong.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-flex jsutify-content-end">
                    <div class="hero-right">
                        <div class="hero-img1">
                            <img class="img-fluid" src="~/assets/images/Home/DeskOffice.jpeg" alt="">
                            <div class="vector">
                                <img src="~/assets/images/icon/h5-hero-vec-01.svg" alt="">
                            </div>
                        </div>
                        <div class="hero-img-group">
                            @*<div class="hero-img2">
                            <img class="img-fluid" src="~/assets/images/Home/ethiopia.png" alt="">
                            </div>*@
                            <div class="hero-img2">
                                <img class="img-fluid" style="height:120px; width:400px" src="~/assets/images/Home/ethiopia.png" alt="">
                            </div>
                            <div class="hero-img2">
                                <img class="img-fluid" style="height:120px; width:400px" src="~/assets/images/Home/kenya.png" alt="">
                            </div>
                            <div class="hero-img2">
                                <img class="img-fluid" style="height:120px; width:400px" src="~/assets/images/Home/uganda.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Hero Five end============= -->
    <div class="advertis-area mb-120">
        <h4 class="marquee_text">
            <img src="~/assets/images/icon/home5-marquee-icon.svg" alt=""><a href="#">
                Ethiopia
            </a><img src="~/assets/images/icon/home5-marquee-icon.svg" alt=""><a href="#">
                Kenya
            </a><img src="~/assets/images/icon/home5-marquee-icon.svg" alt=""><a href="#">
                Uganda
            </a><img src="~/assets/images/icon/home5-marquee-icon.svg" alt=""><a href="#">
                philippine
            </a>
        </h4>
    </div>

    <!-- ========== Home Five Counter Start============= -->
    <div class="home5-counter-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="counter-wrapper">
                        <div class="counter-single one">
                            <div class="counter-icon">
                                <img src="~/assets/images/icon/home5-counter-1.svg" alt="">
                            </div>
                            <div class="coundown">
                                <div class="d-flex align-items-center gap-2">
                                    <h3 class="odometer">800</h3>
                                    <span>K+</span>
                                </div>
                                <p>Total Recruiters</p>
                            </div>
                        </div>

                        <div class="counter-single">
                            <div class="counter-icon">
                                <img src="~/assets/images/icon/home5-counter-2.svg" alt="">
                            </div>
                            <div class="coundown">
                                <div class="d-flex align-items-center gap-2">
                                    <h3 class="odometer">600</h3>
                                    <span>K+</span>
                                </div>
                                <p>Daily User Visited</p>
                            </div>
                        </div>

                        <div class="counter-single">
                            <div class="counter-icon">
                                <img src="~/assets/images/icon/home5-counter-3.svg" alt="">
                            </div>
                            <div class="coundown">
                                <div class="d-flex align-items-center gap-2">
                                    <h3 class="odometer">10</h3>
                                    <span>K+</span>
                                </div>
                                <p>Daily Job Posted</p>
                            </div>
                        </div>

                        <div class="counter-single">
                            <div class="counter-icon">
                                <img src="~/assets/images/icon/home5-counter-4.svg" alt="">
                            </div>
                            <div class="coundown">
                                <div class="d-flex align-items-center gap-2">
                                    <h3 class="odometer">700</h3>
                                    <span>K+</span>
                                </div>
                                <p>Total Applied</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Home Five Counter End============= -->
    <!-- ========== Home Five Recruiters Start============= -->
    <div class="home5-top-recruiters-area mb-120">
        <div class="container">
            <div class="row mb-60">
                <div class="col-12 d-flex flex-wrap align-items-end justify-content-md-between justify-content-start gap-3">
                    <div class="section-title3">
                        <h2>Our Top Recruiters</h2>
                        <p>To choose your trending job dream &amp; to make future bright.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slick-wrapper">
                    <div id="slick4">
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-01.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">New Sky-Mistro</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 25 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> New-York, USA</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-02.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">UI.UX Company Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 45 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Dhaka, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-03.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Norland Company</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 57 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> New-York, USA</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-04.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Germain Group Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 53 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Dhaka, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-05.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Tech-Bath Company</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 34 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Sylhet, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-06.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Bistro.Hub Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 23 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Chicago, Australia</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-07.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Neuro Science Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 46 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Dhaka, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-08.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Wiestrong Industry</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 32 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> New-York, USA</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-01.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">New Sky-Mistro</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 35 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> New-York, USA</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-02.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">UI.UX Company Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 25 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Dhaka, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-03.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Norland Company</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 52 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> New-York, USA</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="recruters-card hover-btn">
                                <div class="company-logo">
                                    <span class="for-border"></span>
                                    <img src="~/assets/images/bg/company-logo/company-04.png" alt="">
                                </div>
                                <div class="company-area">
                                    <div class="name-location">
                                        <h5><a href="company-listing1.html">Germain Group Ltd</a></h5>
                                        <p><img src="~/assets/images/icon/person-dark.svg" alt=""> 29 People</p>
                                        <p><img src="~/assets/images/icon/home5-location-icon.svg" alt=""> Dhaka, Bangladesh</p>

                                    </div>
                                    <div class="apply-btn">
                                        <a href="company-details.html"><span><img src="~/assets/images/icon/apply-ellipse5.svg" alt=""></span> View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Home Five Recruiters End============= -->
    <!-- ========== Home Five Deram Job Start============= -->
    <div class="home5-dream-job-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-wrap align-items-end justify-content-md-between justify-content-start gap-3">
                    <div class="dream-job-content">
                        <h3>Are You Looking For A Dream  Candidates?</h3>
                        <p>2400+ candidates are available in our portal.</p>
                    </div>
                    <div class="find-btn">
                        <a class="primry-btn-3 lg-btn" href="#">Find Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Home Five Deram Job End============= -->
    <!-- ========== Home5 Footer area Start============= -->
    <footer class="footer1 five">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-sm-start justify-content-center">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5>About Company</h5>
                        </div>
                        <div class="menu-container">
                            <ul>
                                <li><a href="contact.html">Contact Us <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Terms & Condition <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Privacy & Policy <i class='bx bx-up-arrow-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end justify-content-center">
                    <div class="footer-widget four">
                        <div class="widget-title">
                            <h5>Download App</h5>
                        </div>
                        <div class="app-list">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/apple-app.svg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/google-play.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-btm">
                <div class="footer-logo">
                    <img style="height:120px" src="~/assets/images/Home/Desk3.jpeg" alt="">
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
                        <div class="support">
                            <div class="icon">
                                <img src="~/assets/images/icon/footer5-support-icon.svg" alt="">
                            </div>
                            <div class="content">
                                <h5>Support Line:</h5>
                                <a href="#">+099-000 0000 0000</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                        <div class="footer-btm-menu">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Services</a></li>
                                <li>
                                    <a href="https://www.google.com/maps/place/Egens+Lab/23.8340712,90.3634979,17z/data=!3m1!4b1!4m5!3m4!1s0x3755c14c8682a473:0xa6c74743d52adb88!8m2!3d23.8340663!4d90.3656866">
                                        Our
                                        Sitemap
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row border-top align-items-center">
                    <div class="col-lg-6 d-flex  justify-content-lg-start justify-content-center">
                        <div class="copyright-area">
                            <p>
                                ©Copyright @DateTime.Now.Year <a href="#">CV Tracking Portal</a> | Design By <a href="#">Mussab</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                        <div class="social-area">
                            <h6>Follow us:</h6>
                            <ul>
                                <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a href="#"><i class="bx bxl-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== Home5 Footer area end============= -->


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/summernote.min.js"></script>
    <script src="~/assets/js/jquery.marquee.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/counterup.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/viewport.jquery.js"></script>
    <script src="~/assets/js/jquery.nice-number.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
        $(".marquee_text").marquee({
            direction: "left",
            duration: 50000,
            gap: 50,
            delayBeforeStart: 0,
            duplicated: true,
            startVisible: true,
        });
    </script>

</body>

</html>

