@model AddAddNewForeignCvRequest
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="edit-profile-form profile-form">
        @if (Model.cvAttachments != null)
        {
            var passportimg = Model.cvAttachments.Where(p => p.AttachmentType.TypeName == "Passport Photo").FirstOrDefault();
            <div class="row">
                <div class="col-lg-6">
                    <div class="author-area">
                        @*<h5>personal Photo: </h5>*@
                        @if (passportimg != null)
                        {
                            <div class="author-img">
                                <img src="@passportimg.Path" style="height:140px;width:135px;border-radius:5px" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="row">

            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.CandidateNameEnglish"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/user-2.svg" alt="">
                        <input type="text" asp-for="cv.CandidateNameEnglish" placeholder="Name English">
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.CandidateNameArabic"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/user-2.svg " alt="">
                        <input type="text" asp-for="cv.CandidateNameArabic" placeholder="Name Arabic">
                    </div>
                </div>
            </div>

            <div class="col-xxl-2 col-lg-12 position-relative">
                <input type="file" id="personalphoto" name="personalphoto" hidden>
                <div class="drag-area">
                    <p>Upload Personal Photo</p>
                    <a class="upload-btn" onclick="personalphoto()"><i class="bi bi-plus-lg"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.CvReferenceNumber"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/user-2.svg" alt="">
                        <input type="text" asp-for="cv.CvReferenceNumber" placeholder="CV Reference Number" style="font-size: larger;font-weight: bold" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.Designation">Designation</label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/designation-2.svg" alt="">
                        <select asp-for="cv.Designation" class="select1">
                            <option value="">Select Designation</option>
                            <option value="House Made">House Made</option>
                            <option value="2">AS</option>
                            <option value="4">A Level</option>
                            <option value="5">Matriculated</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.Education"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/qualification-2.svg" alt="">
                        <select asp-for=cv.Education class="select1">
                            <option value="">Select Education</option>
                            <option value="Secondary School">Secondary School</option>
                            <option value="Intermediate School">Intermediate School</option>
                            <option value="Primary School">Primary School</option>
                            <option value="Bachelor Degree">Bachelor Degree</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.PhoneNumber"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/phone-2.svg" alt="">
                        <input type="text" asp-for="cv.PhoneNumber" placeholder="+880-17 *** *** **">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.EmergencyContact"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/phone-2.svg" alt="">
                        <input type="text" asp-for="cv.EmergencyContact" placeholder="+880-17 *** *** **">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-25">
                    <label asp-for="cv.CandidateSalary"></label>
                    <div class="input-area">
                        <img src="~/assets/images/icon/hight.svg" alt="">
                        <input type="text" asp-for="cv.CandidateSalary" placeholder="Salary">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-agreement employment-check form-inner d-flex justify-content-between flex-wrap p-0">
                    <div class="form-group two">
                        @if (Model.cv.EnglishLanguage != null)
                        {
                            if (Model.cv.EnglishLanguage == true)
                            {
                                <input type="hidden" asp-for="cv.EnglishLanguage" value="true" />
                                <input type="checkbox" id="EnglishLanguage" name="EnglishLanguage" onclick="checkUncheckEnglish()" checked>
                                <label for="EnglishLanguage">English Language</label>
                            }
                            else
                            {
                                <input type="hidden" asp-for="cv.EnglishLanguage" value="false" />
                                <input type="checkbox" id="EnglishLanguage" name="EnglishLanguage" onclick="checkUncheckEnglish()">
                                <label for="EnglishLanguage">English Language</label>
                            }
                        }
                        else
                        {
                            <input type="hidden" asp-for="cv.EnglishLanguage" value="false" />
                            <input type="checkbox" id="EnglishLanguage" name="EnglishLanguage" onclick="checkUncheckEnglish()">
                            <label for="EnglishLanguage">English Language</label>
                        }


                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-agreement employment-check form-inner d-flex justify-content-between flex-wrap p-0">
                    <div class="form-group two">
                        @if (Model.cv.EnglishLanguage != null)
                        {
                            if (Model.cv.ArabicLanguage == true)
                            {
                                <input type="hidden" asp-for="cv.ArabicLanguage" value="true" />
                                <input type="checkbox" id="ArabicLanguage" name="ArabicLanguage" onclick="checkUncheckArabic()" checked>
                                <label for="ArabicLanguage">Arabic Language</label>
                            }
                            else
                            {
                                <input type="hidden" asp-for="cv.ArabicLanguage" value="false" />
                                <input type="checkbox" id="ArabicLanguage" name="ArabicLanguage" onclick="checkUncheckArabic()">
                                <label for="ArabicLanguage">Arabic Language</label>
                            }
                        }
                        else
                        {
                            <input type="hidden" asp-for="cv.ArabicLanguage" value="false" />
                            <input type="checkbox" id="ArabicLanguage" name="ArabicLanguage" onclick="checkUncheckArabic()">
                            <label for="ArabicLanguage">Arabic Language</label>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-inner">
                    <button class="primry-btn-2 lg-btn w-unset" type="submit">Save Changes</button>
                </div>
            </div>

        </div>
    </div>
</div>