@model AddAddNewForeignCvRequest
@{
    ViewBag.Title = "Add New CV";
}

<!-- ========== Dashboard Area end============= -->

<div class="dashboard-area pt-120 mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-5 mb-90">
            <partial name="_DashboardPartial" />
            <div class="col-lg-9">
                <div class="edit-profile-inner">

                    <div class="form-wrapper">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                                        role="tab" aria-controls="home" aria-selected="true">
                                    <span></span>Basic Information:
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                                        role="tab" aria-controls="profile" aria-selected="false">
                                    <span></span>Profile
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="professional-tab" data-bs-toggle="tab" data-bs-target="#professional" type="button"
                                        role="tab" aria-controls="professional" aria-selected="false">
                                    <span></span>Professional Info
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                                        role="tab" aria-controls="contact" aria-selected="false">
                                    <span></span>Attachments
                                </button>
                            </li>
                        </ul>
                        <form asp-action="ForeignAgentAddNewCV" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="foreignAgentId" />
                            <input type="hidden" asp-for="foreignAgentUserId" />
                            @if (Model.cv.Id != null)
                            {
                                <input type="hidden" asp-for="cv.Id" />
                            }
                            @if (Model.HRPoolId != null)
                            {
                                <input type="hidden" asp-for="HRPoolId" />
                            }
                            <div class="tab-content" id="myTabContent">

                                <partial name="_BasicInformationPartial" model="Model" />
                                <partial name="_ProfilePartial" model="Model" />
                                <partial name="_ProfessionalInfoPartial" model="Model" />
                                <partial name="_AttachmentsPartial" model="Model" />




                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Dashboard Area end============= -->
