@model IEnumerable<ForeignAgentHRPoolDto>
<div class="counter-area">
    <div class="row g-lg-4 g-md-5 gy-5 justify-content-center">
        <div class="col-lg-3 col-sm-6">
            <div class="counter-single">
                <div class="counter-icon">
                    <img src="~/assets/images/icon/tt-applied.svg" alt="image">
                </div>
                <div class="coundown">
                    <p>Total CVs</p>
                    <div class="d-flex align-items-center">
                        <h3 class="odometer">
                            @Model.Count()
                        </h3>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter-single two">
                <div class="counter-icon">
                    <img src="~/assets/images/icon/save-job.svg" alt="image">
                </div>
                <div class="coundown">
                    <p>Not Complete</p>
                    <div class="d-flex align-items-center">
                        <h3 class="odometer">
                            @Model.Where(cv=> cv.CVStatus.StatusNo == (int)cvStatus.InComplete).ToList().Count()
                        </h3>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter-single four">
                <div class="counter-icon">
                    <img src="~/assets/images/icon/cv-review.svg" alt="image">
                </div>
                <div class="coundown">
                    <p>Free CV</p>
                    <div class="d-flex align-items-center">
                        <h3 class="odometer">
                            @Model.Where(cv=> cv.CVStatus.StatusNo == (int)cvStatus.Free).ToList().Count()
                        </h3>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="counter-single three">
                <div class="counter-icon">
                    <img src="~/assets/images/icon/massage.svg" alt="image">
                </div>
                <div class="coundown">
                    <p>Post to Admin</p>
                    <div class="d-flex align-items-center">
                        <h3 class="odometer">
                            @Model.Where(cv=> cv.CVStatus.StatusNo == (int)cvStatus.PostToAdmin).ToList().Count()
                        </h3>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>