@model ChangePasswordDto

@{
    ViewBag.Title = "Change User Password";
}

<partial name="PageBannerStartPartialView" />

<!-- ========== Login Area end============= -->
<div class="register-area pt-120 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Change @Model.Name Password</h3>
                        <span></span>
                    </div>
                    <div class="register-tab">
                        <div class="tab-content" id="nav-tabContent">

                            <div>
                                <form asp-controller="RootCompany" asp-action="ChangeUserPassword">
                                    <div class="row">
                                        <input type="hidden" asp-for="Name" />

                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="username"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="username" placeholder="Username" readonly="readonly">
                                                </div>
                                                <span asp-validation-for="username" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="NewPassword"></label>
                                                <input type="password" asp-for="NewPassword" placeholder="Password" />
                                                <i class="bi bi-eye-slash" id="togglePassword3"></i>

                                            </div>
                                            <span asp-validation-for="NewPassword" class="alert-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="ConfirmPassword"></label>
                                                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                                                <i class="bi bi-eye-slash" id="togglePassword4"></i>

                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-inner">
                                                <button class="primry-btn-2" type="submit">Update Password</button>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Login Area end============= -->