@model CreateRoleDto

@{
    ViewBag.Title = "Create Role";
}

<partial name="PageBannerStartPartialView" />
<!-- ========== Login Area end============= -->
<div class="job-post-area pt-120 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-wrapper">
                    <form asp-action="CreateRole" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title2">
                                    <h5>Role Information:</h5>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-inner mb-25">
                                    <label asp-for="RoleName"></label>
                                    <div class="input-area">
                                        <img src="~/assets/images/icon/user-2.svg" alt="">
                                        <input type="text" asp-for="RoleName" placeholder="Role Name">
                                    </div>
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-inner">
                                    <button class="primry-btn-2 lg-btn w-unset" type="submit" title="Save">Save New Role</button>
                                    |
                                    <a asp-action="ListRoles" class="btn bg-warning waves-effect" type="button" title="Back">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Login Area end============= -->